html {

}

/* general attribut */ 

body {
    background-color: black;
}

a:hover {
    cursor: pointer;
}

/* header */ 

header {
    margin-bottom: 10rem;
}

.title {
    color: hsl(201,100%,70%);
    text-align: center;
    font-size: 3rem;
}

.title_info {
    color: hsl(201,100%,70%);
    text-align: center;
}

.hdp {
    color: hsl(0, 0%, 100%);
    text-align: center;
}




/* unique attribut */

#avatar {
    float: left;
    margin-left: 10rem;
}

#MAP {
    width: 3rem;
    height: 2rem;
}




/* main */

.block {
    background-color: white;
    float: right;
    width: 50rem;
    height: 50rem;
}

.contenair {
    with: 50rem;
    height: 50rem;
}

.bordertitle {
    background-color: hsl(201,100%,70%);
    width: 50rem;
    height: 2rem;
    margin-bottom: 10rem;
}

.aside_title {
    color: rgb(0, 0, 0);
    text-align: center;
}

.section_title {
    color: hsl(201,100%,70%);
    text-align: center;
}

.blbl {
    color: hsl(0, 0%, 100%);
}


/* unique attribut */

#name {
    margin-bottom: 10rem;
}

.icone_media {
    width: 3rem;
    height: 3rem;
    margin-left: 5rem;
}