html {
    size: 10px;
    font-size: 10px;
    image-resolution: 10px;
}

body {
    background-color: black;
}

.cv_title {
    color: blue;
}

h1 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

aside {
    color: aliceblue;
}